/*Home - Start Timer

This is the dashboard for the web app. Here users can view their weekly tasks (number of). This should be updated as tasks are added to the scheduler.

Today's task show's the tasks from today on the calender. When a user presses the + they can add a new task.

Breaks shows the times the user has set for a break time. Each break will force the app to show the Reminder - ON screen at the designated times.

On the right, the pause timer, is a button that pauses the time tracker on the purple part.

The breaks left is the total amount of breaks PER DAY. So as each break goes off, the number of breaks should be subtract
--
Scheduler - Collapsed

This shows the users schedule for the month. 

The arrow beside December 2020 allows users to switch months. 

Users should be able to add a new task on ANY DAY by clicking the spot on the calender.

The week/month button will change the view on the scheduler. So in this case, it is in month view which is why it shows all the days. If they click week, then the scheduler view will only show the week.
--
Reminder - ON

This is a screen that will cover the entire web app when a "break" is scheduled even if they are not on the main dashboard. It also pauses the main timer.

Reminder - OFF
Users will be able to close the screen when break time is over. The total timer will start running again OR the user has to press run timer again. (Up to you guys)*/
