body {
  background: #f7f7f7;
  height: 98vh;
  margin: 0;
  /* overflow: hidden; */
}
body::-webkit-scrollbar {
  display: none;
}

/* side menu */
.homepage {
  display: flex;
  height: 100%;
}

.schedule {
  background-color: white;
  width: 100%;
}
