<!DOCTYPE html>

<head>
    <title>
        Work From App
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <img id="logo"
                src="https://cdn.icon-icons.com/icons2/2301/PNG/512/workhome_virus_covid_coronavirus_home_icon_141746.png"
                alt="tree">
            <div>
                <button id="logout-button">LOGOUT</button>
            </div>
        </nav>
    </header>
    <div class = "sidebar">
        <div class="container">
            <div class="side-item">
                <i class="material-icons" id = "dash-icon">dashboard</i>
                <span class="dashboard">Dashboard</span>
            </div>
            <div class="side-item">
                <i class="material-icons" id = "tag-icon">label</i>
                <span class="tags">Tags</span>
            </div>
            <div class="side-item">
                <i class="material-icons" id = "schedule-icon">date_range</i>
                <span class="schedule">Schedular</span>
            </div>
            <div class="side-item">
               <button id = "high_button"></button>
                <span class="high_priority">High Priority</span>
            </div>
            <div class="side-item">
                <button id = "medium_button"></button>
                 <span class="medium_priority">Medium Priority</span>
             </div>
             <div class="side-item">
                <button id = "low_button"></button>
                 <span class="low_priority">Low Priority</span>
             </div>
             <div class="side-item">
                <i class="material-icons" id = "setting-icon">settings</i>
                 <span class="setting">Settings</span>
             </div>
        </div>
    </div>
    <section>
        <span class="welcome-note">Hello, John! Welcome back.</span>
    </section>
</body>

</html>