/* The Modal (background) */
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 12% auto; /* 15% from the top and centered */
  padding: 34px 20px;
  border: 1px solid #888;
  width: 35%; /* Could be more or less, depending on screen size */
  max-height: 70%;
  background: #ffffff;
  /* Drop Shadow */

  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
  border-radius: 7px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  /* Main Black */

  color: #000000;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*  */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  /* border: 1px solid black; */
}

label {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 14px;
}
textarea,
select,
input {
  /* height: 50px; */
  padding: 10px;
  background: #ffffff;
  /* Drop Shadow */
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}
.prior {
  display: flex;
  justify-content: space-between;
}
.prior_item {
  height: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #b4b4b4;
  /* box-sizing: border-box; */
  border-radius: 7px;
}
.circle {
  width: 16px;
  height: 16px;
  border-radius: 7px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  margin-right: 15px;
}
.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
.saveBtn {
  /* Main Purple */
  flex: 0.4;
  height: 50px;
  width: 100%;
  background: #6e5fd9;
  border-radius: 6px;
  color: white;
  border: none;
}
.deleteBtn {
  /* Main Purple */
  flex: 0.4;
  height: 50px;
  width: 100%;
  background: black;
  border-radius: 6px;
  color: white;
  border: none;
}

.add_task_saveBtn,
.add_break_saveBtn,
.setTimeBtn {
  /* float: right; */
  /* margin-right: 0;
  margin-left: auto; */
  margin: auto;
  height: 30px;
  width: 25%;
  background: #6e5fd9;
  border-radius: 6px;
  color: white;
  border: none;
}

.container {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
}
